<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UTF8 Test</title>
</head>
<body>
UTF8 Test: <strong>{{ utfTest }}</strong><br />
<span style="color: green;">Method by instance: {{ default(test.val(), 'Fail') }}</span><br />
<span style="color: red;">Static method via instance: {{ default(test.staticVal(), 'Fail') }}</span><br />
</body>
</html>